.main-header {
  display: flex;
}

.visually-hidden {
    position:absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-nav-submenu {
  display:none;
}

.main-nav-item-catalog:first-child:hover .main-nav-submenu {
  display: block;
  transition: .8s;
}

.main-nav-list {
  display: flex;
}

.search-block-form {
    display:none;
}

.search-block:hover .search-block-form {
  display: block;
  transition: .8s;
}

.login-popup {
  display:none;
}

.login-block:hover .login-popup {
  display: block;
  transition: .8s;
}

.user-block {
  display: flex;
}

.baners-primary {
  display: flex;
}

.catalog-popular {
  display: flex;
}

.features-list {
  display: flex;
}

.baners-secondary {
  display: flex;
}

.main-footer {
  display: flex;
}

.index-feedback-popup {
  display: none;
}

.breadcrumbs-list {
  display: flex;
}

.catalog {
  display: flex;
}
